body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.card {
  border-radius: 15px;
}

.table th, .table td {
  vertical-align: middle !important;
}

.btn {
  border-radius: 30px;
}

footer {
  background-color: #fff;
}
